body {
      background-color: lightsteelblue;
    }

  hr {
    background-color: lightsteelblue;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
  h1 {
    color: black;
  }

  h3 {
    color: #4a47a3;
  }
